doctype html
html(lang="ru-RU")
	head
		include includes/head
	body
		div.wrapper
			div.wrapper__inner
				div.container
					include includes/header
		include includes/footer
		include includes/bottomscripts