.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html, body {
	height:100%;
	font-size:15px;
} 
ul,li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
p {
	margin: 0 0 20px 0;
	padding: 0px;
	line-height:20px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	margin:0 0 6px 0;
}
h4 {
	font-size:25px;
}
$mainTextColor: #5c7b98;
$linkTextColor: #00b9fe;
$mainTextFont : 'elektra_light_pro'; 