div.products
	ul.products__list.grid
		li.products__list-item
			div.product-img-wrap
				img(src="img/imac-lines.jpg", alt="Apple Thunderbolt Display 27\"").product-img
			div.product-desc-wrap
				div.product-desc-name
					a(href="#").product-name-link Apple Thunderbolt Display 27"
				div.product-desc-text
					ul.product-spec-list
						li.product-spec-list-item
							span.spec-label Артикул
							span.spec-value 42787825
						li.product-spec-list-item
							span.spec-label Опция
							span.spec-value включена
						li.product-spec-list-item
							span.spec-label Цвет
							span.spec-value серебристый
						li.product-spec-list-item
							span.spec-label Размер
							span.spec-value 1280*1245*90
						li.product-spec-list-item
							span.spec-label Вес
							span.spec-value 9 кг
		li.products__list-item
			div.product-img-wrap
				img(src="img/imac-27-lines.jpg", alt="Apple iMac 27\"").product-img
			div.product-desc-wrap
				div.product-desc-name
					a(href="#").product-name-link Apple iMac 27"
				div.product-desc-text
					ul.product-spec-list
						li.product-spec-list-item
							span.spec-label Артикул
							span.spec-value 42787825
						li.product-spec-list-item
							span.spec-label Опция
							span.spec-value включена
						li.product-spec-list-item
							span.spec-label Цвет
							span.spec-value серебристый
						li.product-spec-list-item
							span.spec-label Размер
							span.spec-value 1280*1245*90
						li.product-spec-list-item
							span.spec-label Вес
							span.spec-value 9 кг
		li.products__list-item
			div.product-img-wrap
				img(src="img/iphone-5s-lines.jpg", alt="Phone 5s Gold").product-img
			div.product-desc-wrap
				div.product-desc-name
					a(href="#").product-name-link Phone 5s Gold
				div.product-desc-text
					ul.product-spec-list
						li.product-spec-list-item
							span.spec-label Артикул
							span.spec-value 42787825
						li.product-spec-list-item
							span.spec-label Опция
							span.spec-value включена
						li.product-spec-list-item
							span.spec-label Цвет
							span.spec-value серебристый
						li.product-spec-list-item
							span.spec-label Размер
							span.spec-value 1280*1245*90
						li.product-spec-list-item
							span.spec-label Вес
							span.spec-value 9 кг
		li.products__list-item
			div.product-img-wrap
				img(src="img/ipad-lines.jpg", alt="iPad Air Wi-Fi + Cellular 128GB - Silver").product-img
			div.product-desc-wrap
				div.product-desc-name
					a(href="#").product-name-link iPad Air Wi-Fi + Cellular 128GB - Silver
				div.product-desc-text
					ul.product-spec-list
						li.product-spec-list-item
							span.spec-label Артикул
							span.spec-value 42787825
						li.product-spec-list-item
							span.spec-label Опция
							span.spec-value включена
						li.product-spec-list-item
							span.spec-label Цвет
							span.spec-value серебристый
						li.product-spec-list-item
							span.spec-label Размер
							span.spec-value 1280*1245*90
						li.product-spec-list-item
							span.spec-label Вес
							span.spec-value 9 кг
		li.products__list-item
			div.product-img-wrap
				img(src="img/ipod-lines.jpg", alt="Apple iPod nano 7G 16 ГБ Blue").product-img
			div.product-desc-wrap
				div.product-desc-name
					a(href="#").product-name-link Apple iPod nano 7G 16 ГБ Blue
				div.product-desc-text
					ul.product-spec-list
						li.product-spec-list-item
							span.spec-label Артикул
							span.spec-value 42787825
						li.product-spec-list-item
							span.spec-label Опция
							span.spec-value включена
						li.product-spec-list-item
							span.spec-label Цвет
							span.spec-value серебристый
						li.product-spec-list-item
							span.spec-label Размер
							span.spec-value 1280*1245*90
						li.product-spec-list-item
							span.spec-label Вес
							span.spec-value 9 кг
		li.products__list-item
			div.product-img-wrap
				img(src="img/apple-tv-lines.jpg", alt="Роутер Wi-Fi Apple AirPort Extreme Base Station").product-img
			div.product-desc-wrap
				div.product-desc-name
					a(href="#").product-name-link Роутер Wi-Fi Apple AirPort Extreme Base Station
				div.product-desc-text
					ul.product-spec-list
						li.product-spec-list-item
							span.spec-label Артикул
							span.spec-value 42787825
						li.product-spec-list-item
							span.spec-label Опция
							span.spec-value включена
						li.product-spec-list-item
							span.spec-label Цвет
							span.spec-value серебристый
						li.product-spec-list-item
							span.spec-label Размер
							span.spec-value 1280*1245*90
						li.product-spec-list-item
							span.spec-label Вес
							span.spec-value 9 кг
div.short-about
	h4 Пара слов о магазине
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus itaque minima consequuntur dignissimos, quia commodi rem eveniet nesciunt, atque pariatur quos dolorum sequi. Cum sequi iste ullam alias, explicabo.
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus itaque minima consequuntur dignissimos, quia commodi rem eveniet nesciunt, atque pariatur quos dolorum sequi. Cum sequi iste ullam alias, explicabo.
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus itaque minima consequuntur dignissimos, quia commodi rem eveniet nesciunt, atque pariatur quos dolorum sequi. Cum sequi iste ullam alias, explicabo.
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus itaque minima consequuntur dignissimos, quia commodi rem eveniet nesciunt, atque pariatur quos dolorum sequi. Cum sequi iste ullam alias, explicabo.
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus itaque minima consequuntur dignissimos, quia commodi rem eveniet nesciunt, atque pariatur quos dolorum sequi. Cum sequi iste ullam alias, explicabo.
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea doloribus itaque minima consequuntur dignissimos, quia commodi rem eveniet nesciunt, atque pariatur quos dolorum sequi. Cum sequi iste ullam alias, explicabo.	