footer.footer
    div.footer__inner
        div.footer__logo
            a(href="#", title="ЭпплShop").footer__logo-link
                img(src="img/logo-bottom.png", alt="ЭпплShop").footer__logo-link-img
        div.footer__menu
            div.footer__menu-head О магазине
            ul.footer__menu-list    
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link О нас
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Наши цены
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Наши скидки
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Акции
        div.footer__menu
            div.footer__menu-head Каталог
            ul.footer__menu-list    
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Смартфоны
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Планшеты
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Компьютеры
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Аксессуары
        div.footer__menu
            div.footer__menu-head Контакты
            ul.footer__menu-list    
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Телефоны
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Адреса
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Карта проезда
                li.footer__menu-list-item
                    a(href="#").footer__menu-list-item-link Обратная связь
        div.footer__socials
            div.footer__socials-row
                a(href="#", title="скачать приложение на AppStore").footer__socials-appstore
                    img(src="img/app-store.png", alt="скачать приложение на AppStore").footer__socials-appstore-img
                a(href="#", title="скачать приложение на PlayMarket").footer__socials-googleplay
                    img(src="img/google-play.png", alt="скачать приложение на PlayMarket").footer__socials-googleplay-img
             div.footer__socials-row.icos
                a(href="#", title="мы в ВКонтакте").footer__socials-vk
                    img(src="img/vk-ico.png", alt="мы в ВКонтакте").footer__socials-vk-img
                a(href="#", title="мы на FaceBook").footer__socials-fb
                    img(src="img/fb-ico.png", alt="мы на FaceBook").footer__socials-fb-img
                a(href="#", title="Читать нас на Twitter").footer__socials-tw
                    img(src="img/tw-ico.png", alt="Читать нас на Twitter").footer__socials-tw-img
            