div.menu
	ul.menu-list
		li.menu-list-item.active
			a(href="#").menu-list-item-link
				span.menu-list-item-link-span iPhone
			ul.menu-list-child
				li.menu-list-item
					a(href="#").menu-list-item-link
						span.menu-list-item-link-span iPhone 4s
				li.menu-list-item
					a(href="#").menu-list-item-link
						span.menu-list-item-link-span iPhone 5
				li.menu-list-item
					a(href="#").menu-list-item-link
						span.menu-list-item-link-span iPhone 5s с эксклюзивным дизайном
				li.menu-list-item
					a(href="#").menu-list-item-link
						span.menu-list-item-link-span iPhone 6
				li.menu-list-item
					a(href="#").menu-list-item-link
						span.menu-list-item-link-span iPhone 6 Plus
		li.menu-list-item
			a(href="#").menu-list-item-link
				span.menu-list-item-link-span iPad
		li.menu-list-item
			a(href="#").menu-list-item-link
				span.menu-list-item-link-span iMac
		li.menu-list-item
			a(href="#").menu-list-item-link
				span.menu-list-item-link-span Macbook
		li.menu-list-item
			a(href="#").menu-list-item-link
				span.menu-list-item-link-span iPod
		li.menu-list-item
			a(href="#").menu-list-item-link
				span.menu-list-item-link-span Другое
