meta(charset="UTF-8")
meta(name="description",content="")
meta(name="keywords",content="")
meta(name="author",content="")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
title Добро пожаловать на ЭпплShop
link(rel="apple-touch-icon", sizes="57x57", href="img/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon", sizes="60x60", href="img/apple-touch-icon-60x60.png")
link(rel="icon", type="image/png", href="img/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="img/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="img/manifest.json")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="theme-color", content="#ffffff")
meta(name="viewport", content="width=device-width, initial-scale=1")
// bower:css
// endbower
link(rel='stylesheet', href='css/style.css')
script(src='js/modernizr.js')