header.header
	div.header__inner
		a.logo(href="#")
			img(src="img/logo.png").logo-img
			span.logo-txt Интернет магазин ЭпплShop
		div.contactinfo
			div.contactinfo__phone
				sup.contactinfo__phone-subcode +7&nbsp;(921)&nbsp;
				| 322&nbsp;12&nbsp;32
			div.contactinfo__email
				a(href="mailto:").contactinfo__email-address manager@company.com
			nav.navigation
				ul.navigation__list
	