doctype html
html(lang="ru-RU")
	head
		include includes/head_block
	body
		div.wrapper
			div.wrapper__inner
				div.container
					include includes/header_block
					div.middle
						include includes/breadcrumbs_block
					div.main
						div.main__left
							include includes/left_block
						div.main__content
							include includes/content_block
		include includes/footer_block
		a(href="#").go-top Наверх
		include includes/bottomscripts