doctype html
html(lang="ru-RU")
	head
		include includes/head_block
	body
		div.wrapper
			div.wrapper__inner
				div.container
					include includes/header_block
		include includes/footer_block
		include includes/bottomscripts